<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{ title }}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="{{ url_for('static',filename='unduhan.png') }}" rel="icon" />
    <link
      href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}"
      rel="apple-touch-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet" />

    <link
      href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.cs') }}s"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}"
      rel="stylesheet" />
    <link
      href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet" />

    <link
      href="{{ url_for('static',filename='assets/css/style.css') }}"
      rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top"
      style="background: rgba(40, 58, 90, 0.9)">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">WXP</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/">About</a></li>
            <li><a class="nav-link scrollto" href="/">Team</a></li>
            <li>
              <a class="nav-link scrollto active" href="/calculate"
                >Calculate</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <main id="main" class="mt-5">
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about mt-5">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Calculate</h2>
          </div>

          <div class="row content">
            <!-- start data mahasiswa -->
            <div class="col-lg-6">
              <p>Data Mahasiswa :</p>
              <div class="mb-3">
                <label for="name" class="form-label">Nama</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="mb-3">
                <label for="nim" class="form-label">NIM</label>
                <input
                  type="text"
                  class="form-control"
                  id="nim"
                  placeholder="xx.xx.xxxx" />
              </div>
              <div class="mb-3">
                <label for="semester" class="form-label">Semester</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="konsentrasi"
                  onchange="konsentrasi()">
                  <option value="0" selected>Pilih Semester</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="semester" class="form-label">Konsentrasi</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="konsentrasi-option"
                  disabled>
                  <option value="0" selected>Pilih Konsentrasi</option>
                  <option value="semester-1">IOT</option>
                  <option value="semester-2">Cyber</option>
                </select>
              </div>
            </div>
            <!-- End data mahasiswa -->
            <!-- Start nilai mahasiswa -->
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>Input Nilai :</p>
              <div id="semester-1">
                <p>ini semester 1</p>
              </div>
              <div id="semester-2">
                <p>ini semester 2</p>
              </div>
              <div id="semester-3">
                <p>ini semester 3</p>
              </div>
            </div>
            <!-- End data mahasiswa -->
          </div>
        </div>
      </section>
      <!-- End About Us Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Team of service</h2>
            <p>
              Tim ini terdiri dari berbagai peran yang saling melengkapi untuk
              mencapai tujuan proyek. Setiap anggota tim memiliki keahlian
              khusus yang berkontribusi pada pengembangan sistem penghitungan
              IPK.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-1.jpg"
                    class="img-fluid"
                    alt="" />
                </div>
                <div class="member-info">
                  <h4>Sarjana Ananda Pamungkas</h4>
                  <span>Ketua</span>
                  <p>" Cape "</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-2.jpg"
                    class="img-fluid"
                    alt="" />
                </div>
                <div class="member-info">
                  <h4>Abiyyu Shafy Hidayat</h4>
                  <span>Budak Korporat</span>
                  <p>" Apa yaa ?? "</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-3.jpg"
                    class="img-fluid"
                    alt="" />
                </div>
                <div class="member-info">
                  <h4>Brian Adi Saputra</h4>
                  <span>Pengisi Slot</span>
                  <p>" Sekkk Sekkk Sekkk !! Kenyang aku "</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-4.jpg"
                    class="img-fluid"
                    alt="" />
                </div>
                <div class="member-info">
                  <h4>Zulfi Rahmad Fathoni</h4>
                  <span>Penyembah</span>
                  <p>" Info Takjil Kang !! "</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-4.jpg"
                    class="img-fluid"
                    alt="" />
                </div>
                <div class="member-info">
                  <h4>Aldito RJ</h4>
                  <span>WIBU</span>
                  <p>" Kyaaa >//< "</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>WXP</h3>
              <p>
                D.I Yogyakarta <br />
                Sleman, Bantul<br />
                Condongcatur <br /><br />
                <strong>Phone:</strong> (+62) 8133 3333 3331<br />
                <strong>Email:</strong> blackchar@wxp.amikom.ac.id<br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#team">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/calculate">Calculate</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Terms of service</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a>Sarjana Ananda Pamungkas</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a>Abiyyu Shafy Hidayat</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a>Brian Adi Saputra</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a>Zulfi Rahmad Fathoni</a>
                </li>
                <li><i class="bx bx-chevron-right"></i> <a>Aldito RJ</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>Jangan hubung kami, sedang sibuk !!</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>WXP</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/calculate.js') }}"></script>
  </body>
</html>
